
/* App Bar */
.app-bar {
    width: 100%;
    background: #da552f;
    height: 10vh;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 28px;
}